In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

**Read Csv file and load visa Dataframe**

In [ ]:
# read CSV file and assign to dataframe variable Visa_df
visa_df = pd.read_csv(r"C:\Users\Almannan\OneDrive\NareshIT\DSAIML\DataFiles\Visadataset.csv")
visa_df

In [ ]:
#get all columns of type- object using selct_dtypes
visa_df.select_dtypes(include='object').columns

In [9]:
visa_df['case_id']

0           EZYV01
1           EZYV02
2           EZYV03
3           EZYV04
4           EZYV05
           ...
25475    EZYV25476
25476    EZYV25477
25477    EZYV25478
25478    EZYV25479
25479    EZYV25480
Name: case_id, Length: 25480, dtype: object

In [11]:
#load all columns in columns list
columns=visa_df.select_dtypes(include='object').columns
columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'region_of_employment', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [12]:
#list all columns using for loop
for i in columns:
    print(i)

case_id
continent
education_of_employee
has_job_experience
requires_job_training
region_of_employment
unit_of_wage
full_time_position
case_status

In [ ]:
# display bar chart for all object types
column_list=[]
unique_list=[]
for i in columns:
   # print(i)
    for j in visa_df[i].unique():
        #print(j)
        column_name=visa_df[i]==j
        val=len(visa_df[column_name])
        column_list.append(val)
        unique_list.append(j)
        column_df = pd.DataFrame(zip(unique_list, column_list),columns=['header', 'Count'])
        print(column_df.count)

In [13]:
visa_df['continent'].unique()

array(['Asia', 'Africa', 'North America', 'Europe', 'South America',
       'Oceania'], dtype=object)

**case id**

In [ ]:
column_list=[]
unique_list=[]

for i in visa_df.case_id.unique():
    column_name=visa_df['case_id']==i
    val=len(visa_df[column_name])
    column_list.append(val)
    unique_list.append(i)
    
column_df= pd.DataFrame(zip(unique_list, column_list),columns=['case_id','Count'])
column_df

In [ ]:
continent_list=[]
unique_list=[]

for i in visa_df['education_of_employee'].unique():
    con=visa_df['education_of_employee']==i
    val=len(visa_df[con])
    continent_list.append(val)
    unique_list.append(i)
    
cont_df= pd.DataFrame(zip(unique_list, continent_list),columns=['Continent','Count'])
cont_df

In [25]:
continent_list=[]
unique_list=[]

for i in visa_df.continent.unique():
    con=visa_df['continent']==i
    val=len(visa_df[con])
    continent_list.append(val)
    unique_list.append(i)
    print(f"the count of {i} is :{val}")
cont_df= pd.DataFrame(zip(unique_list, continent_list),columns=['Continent','Count'])
cont_df

the count of Asia is :16861
the count of Africa is :551
the count of North America is :3292
the count of Europe is :3732
the count of South America is :852
the count of Oceania is :192

       Continent  Count
0           Asia  16861
1         Africa    551
2  North America   3292
3         Europe   3732
4  South America    852
5        Oceania    192

In [ ]:
continent_list=[]
unique_list=[]

for i in visa_df['education_of_employee'].unique():
    con=visa_df['education_of_employee']==i
    val=len(visa_df[con])
    continent_list.append(val)
    unique_list.append(i)
    print(f"the count of {i} is :{val}")
cont_df= pd.DataFrame(zip(unique_list, continent_list),columns=['Continent','Count'])

plt.bar('Continent','Count', data=cont_df)
plt.show()

In [ ]:
for i in visa_df['education_of_employee'].unique():
    print(i)

In [ ]:
for i in visa_df.education_of_employee.unique():
    print(i)