In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
visa_df=pd.read_csv(r"C:\Users\Almannan\OneDrive\NareshIT\DSAIML\DataFiles\Visadataset.csv")
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [20]:
# var 
maths =95
english=80
science=60


if ((maths>english) & (maths>science)):
    print("mathematics")
else:
   if (english>science):
        print("engish is greatest")
   elif (english==science):
        print("science and engish are  greatest")
    else:
        print("science is  greatest")

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 14)

In [12]:
# var 
maths =80
english=80


if (maths>english):
    print("mathematics is greatest")
elif(maths==english):
    print("mathematics and engish are  greatest")
else:
    print("engish is  greatest")

mathematics and engish are  greatest

In [22]:
if (maths>english):
    print("mathematics is greatest")
else:
    print("engish is  greatest")

engish is  greatest

In [26]:
maths =55
english=40
science=60
if ((maths>english) & (maths>science)):
    print("mathematics")
elif ((english>science) & (english>maths)):
        print("engish is greatest")
else:
        print("science is  greatest")

science is  greatest

In [31]:
maths =75
english=40
science=60
if ((maths>english) & (maths>science)):
    print("mathematics")
else:
    if ((english>science) & (english>maths)):
        print("engish is greatest")
    else:
        print("science is  greatest")

mathematics

In [34]:
for i in range(1,10):
    if (i%2==0):
        print(f"{i} is an even number")
    else:
        print(f"{i} is an odd number")

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

# def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Test the function
number = int(input("Enter a number: "))
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

In [42]:
num1=int(input("enter a number"))

if (num1<=1):
    print(f"{num1} is not a prime number")
else:
    for i in range(2,int(num1**0.5)+1):
        if (num1%i==0):
            print(f"{num1} is not a prime number")
        else:
            print(f"{num1} is a prime number")

enter a number 90

90 is not a prime number
90 is not a prime number
90 is a prime number
90 is not a prime number
90 is not a prime number
90 is a prime number
90 is a prime number
90 is not a prime number

In [41]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Test the function
number = int(input("Enter a number: "))
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter a number:  90

90 is not a prime number

In [61]:
def is_prime(num):
    x=int(num**0.5)
    print(x)
    if num <= 1:
        return False
    for i in range(2, x + 1):
        if num % i == 0:
            return False
    return True

# Test the function
number = eval(input("Enter a number: "))
if is_prime(number):
    print(number, "is a prime number")
else:
    print(number, "is not a prime number")

Enter a number:  31

5
31 is a prime number

In [58]:
for i in range(2,100,10):
    print(i)

2
12
22
32
42
52
62
72
82
92

In [47]:
for(i=1; i<=10; i+3)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (4066287037.py, line 1)

In [62]:
for i in range(1,10):
    if (i%2==0):
        print(f"{i} is an even number")
    else:
        print(f"{i} is an odd number")

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

In [64]:
def mul(num1,num2):
    return num1 * num2

def add(num1,num2):
    return num1 + num2


def add(num1,num2):
    return num1 + num2
num1=eval(input("enter value for number 1"))
num2=eval(input("enter value for number 2"))

print (f"Addition of {num1} and {num2} is {add(num1,num2)}")
print (f"Multiplication of {num1} and {num2} is {mul(num1,num2)}")

enter value for number 1 100
enter value for number 2 200

Addition of 100 and 200 is 300
Multiplication of 100 and 200 is 20000

In [66]:
def is_Even(num1):
    if (num1%2==0):
        return True
    else:
        return False


num1=eval(input("enter a number"))

if is_Even(num1):
    print(f"{num1}  is Even")
else:
    print(f"{num1}  is Odd")

enter a number 44

44  is Even

In [68]:
def PrintEven(num1):
    if (num1%2==0):
        print(f"{num1}  is Even")
    else:
        print(f"{num1}  is Odd")

for i in range(1,20):
    PrintEven(i)

1  is Odd
2  is Even
3  is Odd
4  is Even
5  is Odd
6  is Even
7  is Odd
8  is Even
9  is Odd
10  is Even
11  is Odd
12  is Even
13  is Odd
14  is Even
15  is Odd
16  is Even
17  is Odd
18  is Even
19  is Odd

In [70]:
def is_prime(num):
    x=int(num**0.5)
    if num <= 1:
        return False
    for i in range(2, x + 1):
        if num % i == 0:
            return False
    return True

# Test the function
def PrintPrime(number):
    if is_prime(number):
        print(number, "is a prime number")
    else:
        print(number, "is not a prime number")

for i in range(1,20):
    PrintPrime(i)

1 is not a prime number
2 is a prime number
3 is a prime number
4 is not a prime number
5 is a prime number
6 is not a prime number
7 is a prime number
8 is not a prime number
9 is not a prime number
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number